<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application><activity android:name=".DebugSelfTestActivity" android:exported="true" android:label="SIWD Self-Test" android:theme="@style/Theme.SiwdAuthenticator" /><activity android:name=".KeySecurityTestActivity" android:exported="true" android:label="SIWD Synthetic Security Test" android:theme="@style/Theme.SiwdAuthenticator" /><activity android:name=".RecoveryRegressionActivity" android:exported="true" android:label="SIWD Recovery Regression" android:theme="@style/Theme.SiwdAuthenticator" /><service android:name=".RecoveryFixtureService" android:exported="false" android:process=":recovery_fixture" /></application></manifest>
